@charset "utf-8";
/* CSS Document */

html {
	
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

body {
	margin: 0;
	background-color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";		
}

h1, h3, h4 {
	color: ghostwhite; /*changed color*/
}

h2 {
	color:#cc9933; /*changed color*/
	
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color:#3399cc; /*changed color to match photo3*/
	color: white;
	box-sizing: border-box;
	clear: both;
	z-index: 1;
	height: 125px;	
}

header h1 {
	text-align: center;
	}

.mainLesson {
	background: #FFEFBA;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

.mainLesson h2, .videoText h2{
	margin: 0;
}

.funFact {
	
	border: double;   /*changed color to match top*/
	padding: 3%;
	box-sizing: border-box;
	background-color: ghostwhite; /*changed color to match */
	
}

.funFact h3 {
	margin: 0;
	color: #3399cc;
	
}

.parallax {
	background-image: url("images/par1.jpg");
	height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	clear: both;
	
}

footer {
	display: grid;
	text-align: center;		
	grid-template-columns: auto;
	background-color: #3399cc; /*changed color to match top*/
	color: white;
	box-sizing: border-box;
	}

footer i {
	margin: 1%;
	}

/* this layout is for Phones*/
@media screen and (max-width: 640px) {


	.slideshow {
		padding-top: 125px;
		}
	
	.mainLesson {
		display: grid;
		vertical-align: middle;
		padding: 4%;
		box-sizing: border-box;
		width: 100%;
		}
	
	.mainlesson img {
		width: 50%;
		margin-left: 25%;
		}

	.videoText {
		display: grid;
		grid-template-columns: 1fr;
		vertical-align: middle;
		padding: 4%;
		box-sizing: border-box;
		width: 100%;
		}

	.videoText iframe {
		width: 426px;
		height: 240px;
		float: right
		}

	.videoText article {
		text-align: center;	
		}
	
	footer {
		text-align: center;
		padding: 4% 0;
		box-sizing:border-box;
		}

}

/* this layout is for Tablets */

@media screen and (min-width: 640px) and (max-width: 1024px) {

	body{
		font-size: 1.15em;	
	}
		.slideshow {
		padding-top: 125px;
		}
	
	.mainLesson {
		display: grid;
		grid-template-columns: 2fr 1fr; /*change*/
		vertical-align: middle;
		padding: 6%; /*change*/
		box-sizing: border-box;
		width: 100%;
		grid-column-gap: 5%; /*change*/
		}
	
	.mainLesson img {
		width: 100%;
		/*change-removed margin left*/
		}
	.videoText {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 2%; /*change*/
		vertical-align: middle;
		padding: 6%;
		box-sizing: border-box;
		width: 100%;
		}
	
	.videoText section {
		margin-bottom: 3%;
		}
	
	.videoText iframe {
		width: 640px; /*change*/
		height: 360px;/*change*/
		}

	.videoText article {
			text-align: center;	
			}
	
	footer {
		text-align: center;
		padding: 4%; /*change*/
		box-sizing: border-box;
		}
	
	.threeColumns {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 2%;
		}

}

/* this layout is for Desktops*/
@media screen and (min-width: 1024px) {

	body{
		font-size: 1.25em;	/*change*/
		}
		.slideshow {
		padding-top: 125px;
		}
		.responsive {
		width:100%;
		height: 0;
		padding-bottom: 56.25%;
		position: relative;
		}
	
	.responsive iframe {
	position: absolute;
	width: auto;
	height: auto;
	left: 656px;
	top: -303px;
	
	}
	.mainLesson {
		display: grid;
		grid-template-columns: 2fr 1fr; 
		vertical-align: middle;
		padding: 4%; /*change*/
		box-sizing: border-box;
		width: 100%;
		grid-column-gap: 5%; 
		}
	
	.mainlesson img {
		width: 100%;
		/*change-removed margin left*/
		}
	.videoText {
		display: grid;
		grid-template-columns: 1fr 1.5fr; /*change*/
		grid-column-gap: 2%; /*change*/
		vertical-align: middle;
		padding: 4%; /*change*/
		box-sizing: border-box;
		width: 100%;
		}
	
	.videoText section {
		margin-bottom: 3%;
		}
	
	.videoText iframe {
		width: 640px; /*change*/
		height: 360px;/*change*/
		}

	.videoText article {
			text-align: center;	
			}
	
	footer {
		text-align: center;
		padding: 4%; 
		box-sizing:border-box;
		}
	
	.threeColumns {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 2%;
		}
}
